{
  "swagger": "2.0",
  "x-stoplight": {
    "id": "cnzspu5d9s5a1"
  },
  "info": {
    "title": "ECMCreateFile",
    "version": "1.0",
    "contact": {
      "name": "!DNT--Pulse_US_Scrum",
      "email": "!DNT--Pulse_US_Scrum@cbre.com"
    },
    "termsOfService": "Terms & Conditions",
    "description": "ECM File Node Creation"
  },
  "host": "ecmdev.cbre.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json",
    "application/x-www-form-urlencoded"
  ],
  "consumes": [
    "application/x-www-form-urlencoded",
    "multipart/form-data"
  ],
  "paths": {
    "/v1/nodes": {
      "post": {
        "summary": "Create New File",
        "operationId": "post-File",
        "responses": {
          "200": {
            "description": "File Created",
            "schema": {
              "$ref": "#/definitions/NodeResponse"
            }
          },
          "400": {
            "description": "Missing Required Information",
            "schema": {
              "type": "string",
              "x-nullable": true
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "500": {
            "description": "Email Already Taken",
            "schema": {
              "type": "string",
              "x-nullable": true
            }
          }
        },
        "description": "Create a new file.",
        "parameters": [
          {
            "in": "formData",
            "type": "integer",
            "name": "type",
            "description": "144"
          },
          {
            "in": "formData",
            "type": "integer",
            "name": "parent_id",
            "description": "1488968"
          },
          {
            "in": "formData",
            "type": "string",
            "name": "name",
            "description": "Name of file"
          },
          {
            "in": "formData",
            "type": "file",
            "name": "file",
            "description": "file"
          },
          {
            "in": "formData",
            "type": "string",
            "name": "body",
            "description": "body"
          }
        ]
      }
    }
  },
  "definitions": {
    "NodeResponse": {
      "title": "NodeResponse",
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Unique identifier for the given user."
        }
      },
      "required": [
        "id"
      ],
      "description": "Response of the Create Operation",
      "x-stoplight": {
        "id": "d99e236ec2f94"
      }
    }
  },
  "basePath": "/otcs/cs/api/",
  "securityDefinitions": {
    "otdsticket": {
      "name": "otdsticket",
      "type": "apiKey",
      "in": "header"
    }
  },
  "security": [
    {
      "otdsticket": []
    }
  ]
}
