{
  "swagger": "2.0",
  "x-stoplight": {
    "id": "pyg1ua0h4ywat"
  },
  "info": {
    "title": "Content Server Rest API",
    "description": "OT ECM API",
    "version": "2.0.2",
    "termsOfService": "Terms & Conditions",
    "contact": {
      "name": "!DNT--Pulse_US_Scrum",
      "email": "!DNT--Pulse_US_Scrum@cbre.com"
    },
    "license": {
      "name": "CBRE South Asia PVT LTD",
      "url": "https://cbre.com"
    }
  },
  "host": "ecmdev.cbre.com",
  "basePath": "/otcs/cs/api/",
  "tags": [
    {
      "name": "apiinfo",
      "description": "API Information"
    },
    {
      "name": "auth",
      "description": "Authenticate user"
    },
    {
      "name": "bulkactions",
      "description": "Actions that can be performed on multiple nodes"
    },
    {
      "name": "categories",
      "description": "Categories and Attributes"
    },
    {
      "name": "doctemplates",
      "description": "Document Templates"
    },
    {
      "name": "documentproperties",
      "description": "Document Properties Synchronization"
    },
    {
      "name": "draftprocesses",
      "description": "Manage draft processes"
    },
    {
      "name": "export",
      "description": "Export"
    },
    {
      "name": "facets",
      "description": "Get facets"
    },
    {
      "name": "forms",
      "description": "Use forms"
    },
    {
      "name": "intelligentfiling",
      "description": "Intelligent Filing"
    },
    {
      "name": "members",
      "description": "Manage members"
    },
    {
      "name": "multipart",
      "description": "Manage Large File Uploads"
    },
    {
      "name": "nicknames",
      "description": "Manage nicknames"
    },
    {
      "name": "nodes",
      "description": "Manage nodes"
    },
    {
      "name": "notifications",
      "description": "Notifications"
    },
    {
      "name": "permissions",
      "description": "Permissions"
    },
    {
      "name": "perspectives",
      "description": "Perspectives"
    },
    {
      "name": "ping",
      "description": "Basic CS and REST API Information"
    },
    {
      "name": "processes",
      "description": "Manage processes / workflows"
    },
    {
      "name": "search",
      "description": "Search"
    },
    {
      "name": "serverinfo",
      "description": "Content Server information"
    },
    {
      "name": "tabs",
      "description": "Use tabs"
    },
    {
      "name": "tklattribute",
      "description": "TKL Attribute"
    },
    {
      "name": "validation",
      "description": "Validation"
    },
    {
      "name": "versions",
      "description": "Manage versions"
    },
    {
      "name": "volumes",
      "description": "Query volumes"
    },
    {
      "name": "webreports",
      "description": "Manage WebReports"
    },
    {
      "name": "xmlimport",
      "description": "XML Import"
    },
    {
      "name": "resubmission",
      "description": "Related to followups and reminders"
    },
    {
      "name": "signaturerequests",
      "description": "Signature Requests"
    }
  ],
  "consumes": [
    "multipart/form-data",
    "application/json"
  ],
  "produces": [
    "application/json",
    "multipart/form-data",
    "application/x-www-form-urlencoded"
  ],
  "paths": {
    "/v1/apiinfo": {
      "get": {
        "operationId": "GetAPIInfo",
        "summary": "Get API Info",
        "description": "Provides the GET, POST, PUT and DELETE methods for the given resource.",
        "parameters": [
          {
            "name": "resource",
            "description": "The REST API url to get information on (ex. api/v1/nodes/2000/nodes)",
            "type": "string",
            "in": "query"
          },
          {
            "name": "fields",
            "description": "Exclude all fields except the one(s) that are specified (e.g. fields=data&fields=definitions).",
            "type": "string",
            "in": "query"
          },
          {
            "name": "expand",
            "description": "Expand all fields that belong to the specified persona (e.g. expand=node&expand=member).",
            "type": "string",
            "in": "query"
          },
          {
            "name": "expand_fields",
            "description": "Expand specified field. Note: field must belong to a persona (e.g. expand_fields=id&expand_fields=owner_user_id).",
            "type": "string",
            "in": "query"
          },
          {
            "type": "string",
            "in": "query",
            "name": "suppress_response_codes",
            "description": "Forces the server to always return a HTTP Response of '200 OK'. "
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/apiinfo"
            }
          },
          "400": {
            "description": "<ul><li>The REST API URL could not be found in the mappings registry</li><li>Argument 'resource' is required</li><li>No action information found for resource {resource}</li><li>The resource {resource} was not found in the mappings registry or the mappings entry was malformed</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          },
          "404": {
            "description": "Not Implemented"
          }
        },
        "tags": [
          "apiinfo"
        ]
      }
    },
    "/v1/validation/nodes": {
      "post": {
        "operationId": "CheckNames",
        "summary": "Check a list of names",
        "description": "For a list of names and a given parent node, check to see if there are name collisions (subject to database collation) between the list of names and the nodes in the parent node.",
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A JSON object in string format specifying the following: 'parent_id' (integer) and 'names' (List of strings).  Example: {\"parent_id\":2000,\"names\":[\"myDocument.doc\",\"myEmail.msg\",\"folder1\"]}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/validation_CheckNodesInfo"
            }
          },
          "400": {
            "description": "<ul><li>The REST API URL could not be found in the mappings registry</li><li>Sorry, the item you requested could not be accessed. Either it does not exist or you do not have permission to access it. If you were sent a link to this item, please contact the sender for assistance</li><li>Body Parameter 'parent_id' is invalid.</li><li>Body Parameter 'parent_id' is missing.</li><li>Body Parameter 'names' is invalid.</li><li>Body Parameter 'names' is missing.</li><li>Error retrieving nodes</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          }
        },
        "tags": [
          "validation"
        ]
      }
    },
    "/v1/forms/nodes/create": {
      "get": {
        "operationId": "createform",
        "summary": "Alpaca form for creating a node",
        "description": "Gets the Alpaca form for creating a node.",
        "parameters": [
          {
            "name": "type",
            "description": "The subtype of the node to be created",
            "type": "integer",
            "in": "query",
            "required": true
          },
          {
            "name": "parent_id",
            "description": "The ID of the parent node for the node that will be created",
            "type": "integer",
            "in": "query",
            "required": true
          },
          {
            "name": "category_id",
            "description": "The ID of the category to add to the node (this parameter can be called multiple times, ex. category_id=111&category_id=222)",
            "in": "query",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "{attribute_name}",
            "description": "Value for the Additional Node Attribute",
            "type": "string",
            "in": "query"
          },
          {
            "type": "string",
            "in": "query",
            "name": "suppress_response_codes",
            "description": "suppress_response_codes"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/forms_CreateFormInfo"
            }
          },
          "400": {
            "description": "<ul><li>The REST API URL could not be found in the mappings registry</li><li>Argument 'parent_id' is required</li><li>Argument 'type' is required</li><li>Invalid datatype specified for argument 'parent_id'</li><li>Invalid datatype specified for argument 'type'</li><li>Invalid datatype specified for argument 'category_id'</li><li>Category ID {category_id} is not a valid category.</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          },
          "500": {
            "description": "<ul><li>Subtype {type} not registered</li><li>Could not get a node for {id}</li><li>Could not process object, type {type} has no action 'create'</li></ul>"
          }
        },
        "tags": [
          "forms"
        ]
      }
    },
    "/v1/forms/nodes/file": {
      "get": {
        "operationId": "GetFormFileNode",
        "summary": "Alpaca form for filing a node",
        "description": "Gets the Alpaca form for filing a node.",
        "parameters": [
          {
            "name": "id",
            "description": "The ID of the node",
            "type": "integer",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/forms_GetFormFileNodeInfo"
            }
          },
          "400": {
            "description": "<ul><li>The REST API URL could not be found in the mappings registry</li><li>Could not retrieve form. Invalid or missing parameters</li><li>Invalid datatype specified for argument 'id'</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          },
          "500": {
            "description": "<ul><li>The Intelligent Filing Feature is not enabled</li><li>Error getting CS node</li><li>Invalid node type</li><li>Error getting form</li><li>Error creating form</li></ul>\""
          }
        },
        "tags": [
          "forms"
        ]
      }
    },
    "/v1/nodes": {
      "post": {
        "operationId": "createNode",
        "summary": "Create node | Copy a node",
        "description": "Creates a node OR Copies a node.<br><br><b>NOTE: The 'body' parameter must be used. This 'body' parameter contains a JSON string, and must be specified in the Body as a key-value pair where the key is 'body' and the value is the JSON string. See the <a href=#implementation-notes><b>[IMPLEMENTATION NOTES]</b></a> for more details.</b><br><br>The following examples will assume that there is are two categories available:<br><br>Category1 (ID 9830)<ul><li>TextField (Attribute ID 2)</li><li>Set (Attribute ID 3) with two rows. The Set has a multi-value Textfield (Set Attribute ID 4) that can have a maximum of 3 values</li></ul>Category2 (ID 6228)<ul><li>TextField (Attribute ID 2)</li></ul><br>Create a Folder:<br><br><code>{\"type\":0, \"parent_id\":2000, \"name\":\"New Folder\"}</code><br><br>Create a Folder with Category1 and Category2 and use the default attribute values for both categories:<br><br><code>{\"type\":0, \"parent_id\":2000, \"name\":\"New Folder\", \"roles\":{\"categories\":{\"9830\":{\"9830_1\":{}}, \"6228\":{\"6228_1\":{}}}}}</code><br><br>Create a Folder with Category1 and Category2. Category1's Set Textfield on the second row has 'aaa' in the Set Textfield's third value; Category2's Textfield is 'bbb':<br><br><code>{\"type\":0, \"parent_id\":2000, \"name\":\"New Folder\", \"roles\":{\"categories\":{\"9830\":{\"9830_3_2_4\":[\"\",\"\",\"aaa\"]}, \"6228\":{\"6228_2\":\"bbb\"}}}}</code><br><br><br>Copy a node 12345 to a folder 5678 (which doesn't have any categories):<br><br><code>{\"original_id\":12345, \"parent_id\":5678}</code><br><br>Copy a node 12345 to a folder 5678 (which doesn't have any categories) while applying Category2 with default values:<br><br><code>{\"original_id\":12345, \"parent_id\":5678, \"roles\":{\"categories\":{\"6228\":{\"6228_1\":{}}}}}</code><br><br><br>Create a node\n- <b>required fields</b>: type, name, parent_id\n\nCopy a node\n- <b>required fields</b>: original_id, parent_id\n- NOTE: original_id is the ID of the node to copy, parent_id is the ID of the node to copy original_id to\n\n<br><b>The parameters for creating nodes of a specific subtype are listed below:</b><hr></hr>\n\nCreate category\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **131**\n\nCreate channel\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **207**\n\nCreate document\n- <b>required fields</b>: type, parent_id, name, file\n- defaults: type = **144**\n\nCreate compound document\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **136**\n\nCreate folder\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **0**\n\nCreate news\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **208**\n\nCreate project\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **202**\n\nCreate shortcut\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **1**\n\nCreate generation\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **2**\n\nCreate task\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **206**\n\nCreate task group\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **205**\n\nCreate task list\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **204**\n\nCreate task milestone\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **212**\n\nCreate URL\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **140**\n\nCreate virtual folder\n- <b>required fields</b>: type, parent_id, name\n- defaults: type = **899**",
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "description": "Subtype of the node. This is not required when copying a node.",
                  "type": "integer"
                },
                "parent_id": {
                  "description": "The parent ID of the new node",
                  "type": "integer"
                },
                "name": {
                  "description": "The name of the new node",
                  "type": "string"
                },
                "description": {
                  "description": "Description of the node",
                  "type": "string"
                },
                "external_create_date": {
                  "description": "External create date",
                  "type": "string",
                  "format": "date"
                },
                "external_modify_date": {
                  "description": "External modify date",
                  "type": "string",
                  "format": "date"
                },
                "external_source": {
                  "description": "External source",
                  "type": "string",
                  "enum": [
                    "file_system",
                    "mobile_device",
                    "scanner",
                    "fax",
                    "ftp",
                    "shared_drive",
                    "removable_disk",
                    "backup_media",
                    "optical_disk",
                    "onedrive",
                    "cloud_storage",
                    "camera",
                    "email_server",
                    "elink",
                    "opentext_core",
                    "edocs",
                    "sap",
                    "document_management",
                    "exchange_mailbox",
                    "notes_mailbox",
                    "outlook_pst",
                    "file_stream",
                    "mailbox_other"
                  ]
                },
                "external_identity": {
                  "description": "External identity",
                  "type": "string"
                },
                "external_identity_type": {
                  "description": "External identity type",
                  "type": "string",
                  "enum": [
                    "email_address",
                    "domain_userid",
                    "generic_userid",
                    "name",
                    "last_name",
                    "windows_sid",
                    "guid",
                    "phone_number",
                    "ldap_name",
                    "exchange_mailboxid"
                  ]
                },
                "original_id": {
                  "description": "Node ID",
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/nodes_CreateResponse"
            }
          },
          "400": {
            "description": "<ul><li>The REST API URL could not be found in the mappings registry</li><li>An item with the name '{name}' already exists.</li><li>Could not create a new [node type, e.g. 'Folder']</li><li>Missing required parameter '[parameter name]'</li><li>Sorry, the item you requested could not be accessed. Either it does not exist or you do not have permission to access it. If you were sent a link to this item, please contact the sender for assistance.</li><li>Subtype {type} not registered</li><li>External source not found</li><li>Error getting identity type id</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          }
        },
        "tags": [
          "nodes"
        ]
      }
    },
    "/v2/nodes": {
      "post": {
        "operationId": "createNode2",
        "summary": "Create node | Copy a node",
        "description": "Creates a node OR Copies a node.<br><br> <b>NOTE: The 'body' parameter must be used. This 'body' parameter contains a JSON string, and must be specified in the Body as a key-value pair where the key is 'body' and the value is the JSON string. See the <a href=#implementation-notes><b>[IMPLEMENTATION NOTES]</b></a> for more details.</b><br><br> The following examples will assume that there is are two categories available:<br><br> Category1 (ID 9830) <ul>\n  <li>TextField (Attribute ID 2)</li>\n  <li>Set (Attribute ID 3) with two rows. The Set has a multi-value Textfield (Set Attribute ID 4) that can have a maximum of 3 values</li>\n</ul> Category2 (ID 6228) <ul>\n  <li>TextField (Attribute ID 2)</li>\n</ul><br> Create a Folder:<br><br> <code>{\\\"type\\\":0, \\\"parent_id\\\":2000, \\\"name\\\":\\\"New Folder\\\"}</code><br><br> Create a Folder with Category1 and Category2 and use the default attribute values for both categories:<br><br> <code>{\\\"type\\\":0, \\\"parent_id\\\":2000, \\\"name\\\":\\\"New Folder\\\", \\\"roles\\\":{\\\"categories\\\":{\\\"9830_1\\\":{}, \\\"6228_1\\\":{}}}}</code><br><br> Create a Folder with Category1 and Category2. Category1's Set Textfield on the second row has 'aaa' in the Set Textfield's third value; Category2's Textfield is 'bbb':<br><br> <code>{\\\"type\\\":0, \\\"parent_id\\\":2000, \\\"name\\\":\\\"New Folder\\\", \\\"roles\\\":{\\\"categories\\\":{\\\"9830_3_2_4\\\":[\\\"\\\",\\\"\\\",\\\"aaa\\\"], \\\"6228_2\\\":\\\"bbb\\\"}}}</code><br><br><br> Copy a node 12345 to a folder 5678 (which doesn't have any categories):<br><br> <code>{\\\"original_id\\\":12345, \\\"parent_id\\\":5678}</code><br><br> Copy a node 12345 to a folder 5678 (which doesn't have any categories) while applying Category2 with default values:<br><br> <code>{\\\"original_id\\\":12345, \\\"parent_id\\\":5678, \\\"roles\\\":{\\\"categories\\\":{\\\"6228_1\\\":{}}}}</code><br><br><br> Create a node<br> <ul>\n  <li><b>required fields</b>: type, name, parent_id</li>\n</ul> Copy a node<br> <ul>\n  <li><b>required fields</b>: original_id, parent_id</li>\n  <li>NOTE: original_id is the ID of the node to copy, parent_id is the ID of the node to copy original_id to<br></li>\n</ul> <b>The parameters for creating nodes of a specific subtype are listed below:</b><hr></hr><br> Create category<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>131</b></li>\n</ul> Create channel<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>207</b></li>\n</ul> Create document<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name, (file <i>or</i> upload_key)</li>\n  <li>defaults: type = <b>144</b></li>\n</ul> Create compound document<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>136</b></li>\n</ul> Create folder<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>0</b></li>\n</ul> Create news<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>208</b></li>\n</ul> Create project<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>202</b></li>\n</ul> Create shortcut<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>1</b></li>\n</ul> Create generation<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>2</b></li>\n</ul> Create task<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>206</b></li>\n</ul> Create task group<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>205</b></li>\n</ul> Create task list<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>204</b></li>\n</ul> Create task milestone<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>212</b></li>\n</ul> Create URL<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>140</b></li>\n</ul> Create virtual folder<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>899</b></li>\n</ul> Create search query<br> <ul>\n  <li><b>required fields</b>: type, parent_id, name</li>\n  <li>defaults: type = <b>258</b></li>\n</ul>\n",
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "description": "Subtype of the node. This is not required when copying a node.",
                  "type": "integer"
                },
                "parent_id": {
                  "description": "The parent ID of the new node",
                  "type": "integer"
                },
                "name": {
                  "description": "The name of the new node",
                  "type": "string"
                },
                "description": {
                  "description": "Description of the node",
                  "type": "string"
                },
                "external_create_date": {
                  "description": "External create date",
                  "type": "string",
                  "format": "date"
                },
                "external_modify_date": {
                  "description": "External modify date",
                  "type": "string",
                  "format": "date"
                },
                "external_source": {
                  "description": "External source",
                  "type": "string",
                  "enum": [
                    "file_system",
                    "mobile_device",
                    "scanner",
                    "fax",
                    "ftp",
                    "shared_drive",
                    "removable_disk",
                    "backup_media",
                    "optical_disk",
                    "onedrive",
                    "cloud_storage",
                    "camera",
                    "email_server",
                    "elink",
                    "opentext_core",
                    "edocs",
                    "sap",
                    "document_management",
                    "exchange_mailbox",
                    "notes_mailbox",
                    "outlook_pst",
                    "file_stream",
                    "mailbox_other"
                  ]
                },
                "external_identity": {
                  "description": "External identity",
                  "type": "string"
                },
                "external_identity_type": {
                  "description": "External identity type",
                  "type": "string",
                  "enum": [
                    "email_address",
                    "domain_userid",
                    "generic_userid",
                    "name",
                    "last_name",
                    "windows_sid",
                    "guid",
                    "phone_number",
                    "ldap_name",
                    "exchange_mailboxid"
                  ]
                },
                "image_id": {
                  "description": "Data ID of the image to be displayed in the news item",
                  "type": "integer"
                },
                "image_alt_text": {
                  "description": "The alt text for the above image",
                  "type": "string"
                },
                "file": {
                  "description": "The file to be added as an attachment",
                  "type": "string",
                  "format": "binary"
                },
                "upload_key": {
                  "description": "The key to identify a Large File Upload session.",
                  "type": "string"
                },
                "advanced_versioning": {
                  "description": "Allow advanced versioning (standard versioning by default)",
                  "type": "boolean"
                },
                "effective_date": {
                  "description": "(Can be time-zone aware) The effective date for this news item (e.g. 2015-10-16T13:00:00)",
                  "type": "string",
                  "format": "date"
                },
                "expiration_date": {
                  "description": "(Can be time-zone aware) The expiration date for this news item",
                  "type": "string",
                  "format": "date"
                },
                "headline": {
                  "description": "The headline for this news item",
                  "type": "string"
                },
                "highlights": {
                  "description": "The highlights for this news item",
                  "type": "string"
                },
                "story": {
                  "description": "The story for this news item",
                  "type": "string"
                },
                "attachments": {
                  "description": "The data ID of the object to attach to this news item",
                  "type": "integer"
                },
                "status": {
                  "description": "The status of the task",
                  "type": "integer"
                },
                "due_date": {
                  "description": "(Can be time-zone aware) Due date of the milestone (e.g. 2015-10-16T13:00:00)",
                  "type": "string",
                  "format": "date-time"
                },
                "start_date": {
                  "description": "(Can be time-zone aware) Start date of the milestone",
                  "type": "string",
                  "format": "date"
                },
                "mission": {
                  "description": "The project mission",
                  "type": "string"
                },
                "goals": {
                  "description": "The project goals",
                  "type": "string"
                },
                "objectives": {
                  "description": "The project objectives",
                  "type": "string"
                },
                "initiatives": {
                  "description": "The project initiatives",
                  "type": "string"
                },
                "original_id": {
                  "description": "Node ID",
                  "type": "integer"
                },
                "version_number": {
                  "description": "The Version Number of the node to create the generation to",
                  "type": "string"
                },
                "assigned_member_id": {
                  "description": "The assigned member ID",
                  "type": "integer"
                },
                "priority": {
                  "description": "The priority for the task",
                  "type": "integer"
                },
                "milestone_id": {
                  "description": "The milestone for the task group",
                  "type": "integer"
                },
                "instructions": {
                  "description": "The instructions for the task",
                  "type": "string"
                },
                "attachment_id": {
                  "description": "The data ID for the item to attach to the task",
                  "type": "string"
                },
                "complete_date": {
                  "description": "(Can be time-zone aware) Date the milestone was completed",
                  "type": "string",
                  "format": "date"
                },
                "url": {
                  "description": "URL",
                  "type": "string"
                },
                "location_id": {
                  "description": "Location ID. This value can only be set during create.",
                  "type": "integer"
                },
                "selected_facets": {
                  "description": "Facets that make up the virtual folder. Each facet is a 2-element List where the first element is the facet ID (String) and the second element is a List of values (String) for that facet. For example: [['2100',['re09']],['2095',['0','144']]]",
                  "type": "string"
                },
                "location_column_visible": {
                  "description": "Show location column",
                  "type": "boolean"
                },
                "selected_facets_visible": {
                  "description": "Show selected facets",
                  "type": "boolean"
                },
                "selected_location_visible": {
                  "description": "Show selected location",
                  "type": "boolean"
                },
                "search_cache_id": {
                  "description": "Search cache ID to be used to create the Search Query item.",
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/nodes_V2ResponseElementPost"
            }
          },
          "400": {
            "description": "<ul><li>The REST API URL could not be found in the mappings registry</li><li>Could not create a new [node type, e.g. 'Folder']</li><li>Missing required parameter '[parameter name]'</li><li>Sorry, the item you requested could not be accessed. Either it does not exist or you do not have permission to access it. If you were sent a link to this item, please contact the sender for assistance.</li><li>Subtype {type} not registered</li><li>External source not found</li><li>Error getting identity type id</li><li>Error: File could not be found within the upload directory.</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          },
          "500": {
            "description": "<ul><li>An item with the name '{name}' already exists.</li></ul>"
          }
        },
        "tags": [
          "nodes"
        ]
      }
    },
    "/v1/nodes/{id}": {
      "get": {
        "operationId": "getNode",
        "summary": "Get a node",
        "description": "Gets info on the node.",
        "parameters": [
          {
            "name": "id",
            "description": "Node ID",
            "type": "string",
            "required": true,
            "in": "path"
          },
          {
            "name": "fields",
            "description": "Exclude all fields except the one(s) that are specified (e.g. fields=data&fields=definitions).",
            "type": "string",
            "in": "query"
          },
          {
            "name": "expand",
            "description": "Expand all fields that belong to the specified persona (e.g. expand=node&expand=member).",
            "type": "string",
            "in": "query"
          },
          {
            "name": "expand_fields",
            "description": "Expand specified field. Note: field must belong to a persona (e.g. expand_fields=id&expand_fields=owner_user_id).",
            "type": "string",
            "in": "query"
          },
          {
            "name": "perspective",
            "description": "Determines if the perspective for the node will be included in the response.",
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/nodes_InfoResult"
            }
          },
          "400": {
            "description": "<ul><li>Could not get a node for {id}</li><li>Could not process object, invalid request</li><li>One or more parameters are invalid</li><li>The REST API URL could not be found in the mappings registry</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          }
        },
        "tags": [
          "nodes"
        ]
      },
      "put": {
        "operationId": "updateNode",
        "summary": "Update a node | Move a node | Change the Versions Control setting for a Folder",
        "description": "Updates a node's info<br>Moves a node<br>Changes the Versions Control setting for a folder.<br><br><b>NOTE: The 'body' parameter must be used. This 'body' parameter contains a JSON string, and must be specified in the Body as a key-value pair where the key is 'body' and the value is the JSON string. See the <a href=#implementation-notes><b>[IMPLEMENTATION NOTES]</b></a> for more details.</b><br><br>Update a Folder's name and description:<br><br><code>body : { \"name\":\"New Name\", \"description\":\"New Description\" }</code><br><br>Update a Folder's name and description while passing in a metadata token:<br><br><code>body : { \"name\":\"New Name\", \"description\":\"New Description\", \"metadata_token\":\"f0c0701a58c2cb03a955deb1ab2af306\" }</code><br><br>Move a node to a folder with ID 5678<br><br><code>body : { \"parent_id\":5678 }</code><br><br>Change the Versions Control setting for a folder<br><br><code>body : { \"versions_control_advanced\":true }</code><br><br>Change the Versions Control setting for a folder and apply to its Sub-Items<br><br><code>body : { \"versions_control_advanced\":true, \"apply_to\":2 }</code>",
        "parameters": [
          {
            "name": "id",
            "description": "Node ID.",
            "type": "integer",
            "required": true,
            "in": "path"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "description": "The updated description of the node.",
                  "type": "string"
                },
                "description_multilingual": {
                  "description": "The multilingual descriptions of the node in key-value pairs (see example below). The parameter 'description' <b>must also</b> be specified in the body parameter, but the value in 'description' will be ignored and the values in 'description_multilingual' will be used.<br><br>Example to update the English (en), German (de) and French (fr) descriptions of a node where the preferred language is English (en)<br><code>body : { \"description\":\"newEnglishDescription\", \"description_multilingual\":{\"de\":\"newGermanDescription\",\"en\":\"newEnglishDescription\",\"fr\":\"newFrenchDescription\"} }</code>",
                  "type": "string"
                },
                "name": {
                  "description": "The updated name of the node.",
                  "type": "string"
                },
                "name_multilingual": {
                  "description": "The multilingual names of the node in key-value pairs (see example below). The parameter 'name' <b>must also</b> be specified in the body parameter, but the value in 'name' will be ignored and the values in 'name_multilingual' will be used.<br><br>Example to update the English (en), German (de) and French (fr) names of a node where the preferred language is English (en)<br><code>body : { \"name\":\"newEnglishName\", \"name_multilingual\":{\"de\":\"newGermanName\",\"en\":\"newEnglishName\",\"fr\":\"newFrenchName\"} }</code>",
                  "type": "string"
                },
                "versions_control_advanced": {
                  "description": "If set to TRUE then the objects added to the folder will use Advanced Versioning by default. If set to FALSE then the objects added to the folder will use Standard Versioning by default.",
                  "type": "boolean"
                },
                "apply_to": {
                  "description": "Apply version control settings to: <ol start=\"0\"><li>This Item</li><li>Sub-Items</li><li>This Item and Sub-Items</li></ol>",
                  "type": "integer",
                  "enum": [
                    0,
                    1,
                    2
                  ]
                },
                "parent_id": {
                  "description": "The updated parent ID of the node.",
                  "type": "integer"
                },
                "metadata_token": {
                  "description": "The metadata state token. It is used to resolve edit conflicts where two users are updating the node at the same time.<br><br>NOTE: If this is specified and the call is successful, the most recent metadata token will be returned in the result.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "description": "<ul><li>The REST API URL could not be found in the mappings registry</li><li>Sorry, the item you requested could not be accessed. Either it does not exist or you do not have permission to access it. If you were sent a link to this item, please contact the sender for assistance.</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          },
          "409": {
            "description": "Could not update metadata (edit conflict)."
          }
        },
        "tags": [
          "nodes"
        ]
      },
      "delete": {
        "operationId": "deleteNode",
        "summary": "Delete a node",
        "description": "Deletes the node.",
        "parameters": [
          {
            "name": "id",
            "description": "Node ID",
            "type": "string",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "description": "<ul><li>Could not get node for {id}</li><li>Could not process object, invalid action 'delete'</li><li>The REST API URL could not be found in the mappings registry</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          },
          "500": {
            "description": "Could not get a node for {id}"
          }
        },
        "tags": [
          "nodes"
        ]
      }
    },
    "/v2/nodes/{id}": {
      "get": {
        "operationId": "getNode2",
        "summary": "Get a node | Get a virtual folder",
        "description": "Gets information about a node.",
        "parameters": [
          {
            "name": "id",
            "description": "Node ID",
            "type": "integer",
            "required": true,
            "in": "path"
          },
          {
            "name": "actions",
            "description": "Retrieve actions for the node. This is similar to 'commands' for v1 (E.g. actions=delete&actions=open). Note: For best performance minimize the number of actions requested.<br><br>Example to get the delete and open actions<br><code>?actions=delete&actions=open</code>",
            "type": "string",
            "in": "query"
          },
          {
            "name": "perspective",
            "description": "Determines if the perspective for the node will be included in the response.",
            "type": "boolean",
            "in": "query"
          },
          {
            "name": "fields",
            "description": "The 'fields' parameter can be used to filter the results even further, if necessary.<br><br>Show the 'properties' field (which contains node information such as name, description, parent_id, etc.)<br><code>?fields=properties</code><br><br>Show the 'properties' and 'categories' fields (node and category information, respectively)<br><code>?fields=properties&fields=categories</code><br><br>Show the 'properties' and 'categories' fields (node and category information, respectively) but only the parent_id and description from 'properties'<br><code>?fields=properties{parent_id,description}&fields=categories</code><br><br>Show the 'versions' field (version information) but only the latest version<br><code>?fields=versions.element(0)</code><br><br>Show the 'permissions' field (node permissions) but only the first 5 permissions (includes Default Access and ACLs)<br><code>?fields=permissions.limit(5)</code>",
            "type": "string",
            "in": "query"
          },
          {
            "name": "expand",
            "description": "Resolve individual fields<br><br>Expand the id and parent_id of 'properties' (resolving the id to extra node information, and resolving the parent_id to extra node information about the parent)<br><code>?expand=properties{id,parent_id}</code>",
            "type": "string",
            "in": "query"
          },
          {
            "name": "metadata",
            "description": "Returns metadata (data type, field length, min/max values, etc.) about data, which will be returned under results.metadata / metadata_map / metadata_order. This is an empty parameter, thus no value is required (e.g. ?metadata).<br><br>Example to get metadata<br><code>?metadata</code>",
            "type": "string",
            "in": "query"
          },
          {
            "name": "state",
            "description": "Returns the metadata state token for data (used for edit conflict resolution), which will be returned under results.state. This is an empty parameter, thus no value is required (e.g. ?state).<br><br>Example to get the metadata state token<br><code>?state</code>",
            "type": "string",
            "allowEmptyValue": true,
            "in": "query"
          },
          {
            "name": "reference_id",
            "description": "Reference node ID",
            "type": "integer",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/nodes_V2ResponseElement"
            }
          },
          "400": {
            "description": "<ul><li>Could not get a node for {id}</li><li>Could not process object, invalid request</li><li>One or more parameters are invalid</li><li>The REST API URL could not be found in the mappings registry</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          }
        },
        "tags": [
          "nodes"
        ]
      },
      "put": {
        "operationId": "updateNode2",
        "summary": "Update a node | Move a node | Change the Versions Control setting for a Folder | Reserve/Unreserve a node | Collect/Uncollect a node",
        "description": "Updates a node's info<br>Moves a node<br>Changes the Versions Control setting for a folder<br>Reserves/Unreserves a node<br>Collects/Uncollects a node<br><br><b>NOTE: The 'body' parameter must be used. This 'body' parameter contains a JSON string, and must be specified in the Body as a key-value pair where the key is 'body' and the value is the JSON string. See the <a href=#implementation-notes><b>[IMPLEMENTATION NOTES]</b></a> for more details.</b><br><br>Update a Folder's name and description:<br><br><code>body : { \"name\":\"New Name\", \"description\":\"New Description\" }</code><br><br>Update a Folder's name and description while passing in a metadata token:<br><br><code>body : { \"name\":\"New Name\", \"description\":\"New Description\", \"metadata_token\":\"f0c0701a58c2cb03a955deb1ab2af306\" }</code><br><br>Move a node to a folder with ID 5678<br><br><code>body : { \"parent_id\":5678 }</code><br><br>Change the Versions Control setting for a folder<br><br><code>body : { \"versions_control_advanced\":true }</code><br><br>Change the Versions Control setting for a folder and apply to its Sub-Items<br><br><code>body : { \"versions_control_advanced\":true, \"apply_to\":2 }</code><br><br>Reserve a document<br><br><code>body : { \"reserved_user_id\":1000 }</code><br><br>Unreserve a document<br><br><code>body : { \"reserved_user_id\":\"null\" }</code><br><br>Collect a node to a Collection with ID 5678<br><br><code>body : { \"collection_id\":5678 }</code><br><br>Uncollect a node from the Collection with ID 5678<br><br><code>body : { \"collection_id\":5678, \"operation\":\"remove\" }</code>",
        "parameters": [
          {
            "name": "id",
            "description": "Node ID.",
            "type": "integer",
            "required": true,
            "in": "path"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "description": "The updated description of the node.",
                  "type": "string"
                },
                "description_multilingual": {
                  "description": "The multilingual descriptions of the node in key-value pairs (see example below). The parameter 'description' <b>must also</b> be specified in the body parameter, but the value in 'description' will be ignored and the values in 'description_multilingual' will be used.<br><br>Example to update the English (en), German (de) and French (fr) descriptions of a node where the preferred language is English (en)<br><code>body : { \"description\":\"newEnglishDescription\", \"description_multilingual\":{\"de\":\"newGermanDescription\",\"en\":\"newEnglishDescription\",\"fr\":\"newFrenchDescription\"} }</code>",
                  "type": "string"
                },
                "name": {
                  "description": "The updated name of the node.",
                  "type": "string"
                },
                "name_multilingual": {
                  "description": "The multilingual names of the node in key-value pairs (see example below). The parameter 'name' <b>must also</b> be specified in the body parameter, but the value in 'name' will be ignored and the values in 'name_multilingual' will be used.<br><br>Example to update the English (en), German (de) and French (fr) names of a node where the preferred language is English (en)<br><code>body : { \"name\":\"newEnglishName\", \"name_multilingual\":{\"de\":\"newGermanName\",\"en\":\"newEnglishName\",\"fr\":\"newFrenchName\"} }</code>",
                  "type": "string"
                },
                "versions_control_advanced": {
                  "description": "If set to TRUE then the objects added to the folder will use Advanced Versioning by default. If set to FALSE then the objects added to the folder will use Standard Versioning by default.",
                  "type": "boolean"
                },
                "apply_to": {
                  "description": "apply version control settings to, 0 - This Item, 1-Sub Items, 2- This Item and Sub Items",
                  "type": "integer",
                  "enum": [
                    0,
                    1,
                    2
                  ]
                },
                "reserved_user_id": {
                  "description": "The id of the user the node is being reserved to (null to unreserve)",
                  "type": "integer"
                },
                "parent_id": {
                  "description": "The updated parent ID of the node.",
                  "type": "integer"
                },
                "collection_id": {
                  "description": "ID of Collection node",
                  "type": "integer"
                },
                "operation": {
                  "description": "Keyword remove will remove item from collection",
                  "type": "string"
                },
                "metadata_token": {
                  "description": "The metadata state token (for edit conflict resolution). <br><br>NOTE: if this is specified and the call is successful, the most recent metadata token will be returned in the result.",
                  "type": "string"
                },
                "search_cache_id": {
                  "description": "Search cache ID to be used to update the Search Query item.",
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/nodes_V2Empty"
            }
          },
          "400": {
            "description": "<ul><li>The REST API URL could not be found in the mappings registry</li><li>Sorry, the item you requested could not be accessed. Either it does not exist or you do not have permission to access it. If you were sent a link to this item, please contact the sender for assistance.</li><li>Invalid datatype specified for argument \"id\".</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          },
          "409": {
            "description": "Could not update metadata (edit conflict)."
          }
        },
        "tags": [
          "nodes"
        ]
      },
      "delete": {
        "operationId": "deleteNode2",
        "summary": "Delete a node",
        "description": "Deletes the node.",
        "parameters": [
          {
            "name": "id",
            "description": "Node ID",
            "type": "string",
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/nodes_V2Empty"
            }
          },
          "400": {
            "description": "<ul><li>Could not get node for {id}</li><li>Could not process object, invalid action 'delete'</li><li>The REST API URL could not be found in the mappings registry</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          },
          "500": {
            "description": "Could not get a node for {id}"
          }
        },
        "tags": [
          "nodes"
        ]
      }
    },
    "/v1/nodes/{id}/actions": {
      "get": {
        "operationId": "getActions",
        "summary": "Get actions",
        "description": "Gets available actions on the node.",
        "parameters": [
          {
            "name": "id",
            "description": "Node ID",
            "type": "integer",
            "required": true,
            "in": "path"
          },
          {
            "name": "fields",
            "description": "Exclude all fields except the one(s) that are specified (e.g. fields=data&fields=definitions).",
            "type": "string",
            "in": "query"
          },
          {
            "name": "expand",
            "description": "Expand all fields that belong to the specified persona (e.g. expand=node&expand=member).",
            "type": "string",
            "in": "query"
          },
          {
            "name": "expand_fields",
            "description": "Expand specified field. Note: field must belong to a persona (e.g. expand_fields=id&expand_fields=owner_user_id).",
            "type": "string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/nodes_ActionsInfo"
            }
          },
          "400": {
            "description": "<ul><li>Could not process object, invalid request</li><li>Invalid datatype specified for argument 'id'</li><li>One or more parameters are invalid</li><li>The REST API URL could not be found in the mappings registry</li></ul>"
          },
          "401": {
            "description": "Authentication Required"
          },
          "404": {
            "description": "Could not get a node for {id}"
          }
        },
        "tags": [
          "nodes"
        ]
      }
    },
    "/v1/auth": {
      "get": {
        "operationId": "GetCurrentUserInfo",
        "summary": "Get Current User Info",
        "description": "Gets information on the currently authenticated user.",
        "parameters": [
          {
            "name": "fields",
            "description": "Exclude all fields except the one(s) that are specified (e.g. fields=data&fields=definitions).",
            "type": "string",
            "in": "query"
          },
          {
            "name": "expand",
            "description": "Expand all fields that belong to the specified persona (e.g. expand=node&expand=member).",
            "type": "string",
            "in": "query"
          },
          {
            "name": "expand_fields",
            "description": "Expand specified field. Note: field must belong to a persona (e.g. expand_fields=id&expand_fields=owner_user_id).",
            "type": "string",
            "in": "query"
          },
          {
            "name": "perspective",
            "description": "Determines if the perspective for the node will be included in the response.",
            "type": "boolean",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/auth_UserInfo"
            }
          },
          "400": {
            "description": "The REST API URL could not be found in the mappings registry"
          },
          "401": {
            "description": "Authentication Required"
          }
        },
        "tags": [
          "auth"
        ]
      },
      "post": {
        "operationId": "authenticate",
        "summary": "Authenticate user",
        "description": "Authenticates user with the given credentials, returning an OTCS ticket if authorized.",
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "description": "Login name",
                  "type": "string"
                },
                "password": {
                  "description": "Login password",
                  "type": "string",
                  "format": "password"
                },
                "domain": {
                  "description": "Login domain",
                  "type": "string"
                }
              },
              "required": [
                "username",
                "password"
              ]
            }
          },
          {
            "name": "timezone",
            "in": "header",
            "description": "current user's time zone",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "schema": {
              "$ref": "#/definitions/auth_AuthenticationInfo"
            }
          },
          "400": {
            "description": "Invalid parameter value"
          },
          "401": {
            "description": "<ul><li>Invalid username/password specified</li><li>Unable to login. Domain support is disabled</li></ul>"
          },
          "500": {
            "description": "<ul><li>Argument username is required</li><li>Argument password is required</li></ul>"
          }
        },
        "tags": [
          "auth"
        ]
      }
    }
  },
  "definitions": {
    "suppress_response_codes": {
      "type": "string",
      "description": "Forces the server to always return a HTTP Response of '200 OK'. The data returned from the call will have an additionalinteger feature named 'statusCode', which will contain the actual status code (the 'statusCode' feature will be added regardless of whether the REST API call was successful or not)."
    },
    "apiinfo": {
      "type": "object",
      "properties": {
        "DELETE": {
          "type": "string",
          "description": "If the DELETE method is available, information for this REST API call will be displayed.",
          "format": "string"
        },
        "GET": {
          "type": "string",
          "description": "If the GET method is available, information for this REST API call will be displayed.",
          "format": "string"
        },
        "POST": {
          "type": "string",
          "description": "If the POST method is available, information for this REST API call will be displayed.",
          "format": "string"
        },
        "PUT": {
          "type": "string",
          "description": "If the PUT method is available, information for this REST API call will be displayed.",
          "format": "string"
        }
      }
    },
    "auth_UserInfo": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "description": "User Data",
          "items": {
            "$ref": "#/definitions/auth_Data"
          }
        }
      }
    },
    "auth_Data": {
      "type": "object",
      "properties": {
        "birth_date": {
          "type": "string",
          "description": "The user's birthday"
        },
        "business_email": {
          "type": "string",
          "description": "The user's business e-mail address"
        },
        "business_fax": {
          "type": "string",
          "description": "The user's business fax number"
        },
        "business_phone": {
          "type": "string",
          "description": "The user's business phone number"
        },
        "cell_phone": {
          "type": "string",
          "description": "The user's personal cellphone number"
        },
        "deleted": {
          "type": "boolean",
          "description": "TRUE if the user has been deleted, FALSE otherwise"
        },
        "display_language": {
          "type": "string",
          "description": "The user's preferred language"
        },
        "display_name": {
          "type": "string",
          "description": "The user's displayed name"
        },
        "first_name": {
          "type": "string",
          "description": "The user's first name"
        },
        "gender": {
          "type": "integer",
          "description": "The user's gender. null = <gender not set>, 0 = male, 1 = female. Anyintegers greater than 1 refer to additional custom genders, which can be configured in Content Server under 'Configure Gender Settings'."
        },
        "group_id": {
          "type": "integer",
          "description": "The ID of the user's base group"
        },
        "home_address_1": {
          "type": "string",
          "description": "The user's first home address"
        },
        "home_address_2": {
          "type": "string",
          "description": "The user's second home address"
        },
        "home_fax": {
          "type": "string",
          "description": "The user's home fax number"
        },
        "home_phone": {
          "type": "string",
          "description": "The user's home phone number"
        },
        "id": {
          "type": "integer",
          "description": "A unique identifier for the user"
        },
        "initials": {
          "type": "string",
          "description": "The user's initials"
        },
        "last_name": {
          "type": "string",
          "description": "The user's last name"
        },
        "middle_name": {
          "type": "string",
          "description": "The user's middle name"
        },
        "name": {
          "type": "string",
          "description": "The user's log-in name"
        },
        "office_location": {
          "type": "string",
          "description": "The full address of the user's office location"
        },
        "pager": {
          "type": "string",
          "description": "The user's pager number"
        },
        "personal_email": {
          "type": "string",
          "description": "The user's home email address"
        },
        "personal_interests": {
          "type": "string",
          "description": "The user's hobbies"
        },
        "personal_url_1": {
          "type": "string",
          "description": "The user's first favorite link"
        },
        "personal_url_2": {
          "type": "string",
          "description": "The user's second favorite link"
        },
        "personal_url_3": {
          "type": "string",
          "description": "The user's third favorite link"
        },
        "personal_website": {
          "type": "string",
          "description": "The user's homepage address"
        },
        "photo_id": {
          "type": "string",
          "description": "The user's photo ID"
        },
        "photo_url": {
          "type": "string",
          "description": "REST API URL to get the member's profile photo"
        },
        "privilege_grant_discovery": {
          "type": "boolean",
          "description": "TRUE if the user has eDiscovery privileges, FALSE otherwise. This information is only available to Administrators or User Administrators"
        },
        "privilege_login": {
          "type": "boolean",
          "description": "TRUE if the user log-in is enabled, FALSE otherwise. This information is only available to Administrators or User Administrators"
        },
        "privilege_modify_groups": {
          "type": "boolean",
          "description": "TRUE if the user can create groups and modify or delete the groups that he or she creates, FALSE otherwise. This information is only available to Administrators or User Administrators"
        },
        "privilege_modify_users": {
          "type": "boolean",
          "description": "TRUE if the user can create users and modify or delete the users that he or she creates, FALSE otherwise. This information is only available to Administrators or User Administrators"
        },
        "privilege_public_access": {
          "type": "boolean",
          "description": "TRUE means the user can access to any item in the system for which the Public Access permission is activated, FALSE otherwise. This information is only available to Administrators or User Administrators"
        },
        "privilege_system_admin_rights": {
          "type": "boolean",
          "description": "TRUE means the user has full access to Content Server's administration functionality, if the user knows the administration password. This privilege also provides access to all items in the system, without filtering for permissions. This privilege does not include the ability to administer users or groups. FALSE otherwise. This information is only available to Administrators or User Administrators"
        },
        "privilege_user_admin_rights": {
          "type": "boolean",
          "description": "TRUE if the user can create, modify, and delete any user or group, FALSE otherwise. This information is only available to Administrators or User Administrators"
        },
        "time_zone": {
          "type": "integer",
          "description": "An offset of GMT"
        },
        "title": {
          "type": "string",
          "description": "The user's title"
        },
        "type": {
          "type": "integer",
          "description": "The type of user or user-related entity"
        },
        "type_name": {
          "type": "string",
          "description": "The type name of user or user-related entity"
        }
      }
    },
    "auth_AuthenticationInfo": {
      "type": "object",
      "properties": {
        "ticket": {
          "type": "string",
          "description": "The valid authentication ticket"
        }
      }
    },
    "bulkactions": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/bulkactions_ActionData"
        },
        "definitions": {
          "$ref": "#/definitions/bulkactions_Definitions"
        },
        "definitions_map": {
          "$ref": "#/definitions/bulkactions_DefinitionsMap"
        },
        "definitions_order": {
          "description": "The order in which actions should be displayed. Note: An item in definitions_order may be a key in definitions_map. If so, that indicates there are related sub-items and they are considered higher in order than the next item in definitions_order",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "bulkactions_ActionData": {
      "type": "object"
    },
    "bulkactions_Definitions": {
      "type": "object"
    },
    "bulkactions_DefinitionsMap": {
      "type": "object"
    },
    "categories_V2CategoriesResponseSingle": {
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_V2DataLinks"
          }
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_V2DataCategories"
          }
        }
      }
    },
    "categories_V2CategoriesResponse": {
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_V2DataLinks"
          }
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_V2DataCategories"
          }
        }
      }
    },
    "categories_V2EmptyResponse": {
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_V2DataLinks"
          }
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_V2EmptyResults"
          }
        }
      }
    },
    "categories_V2DataCategories": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_V2Categories"
          }
        }
      }
    },
    "categories_V2Categories": {
      "type": "object",
      "properties": {
        "categories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_V2EmptyResults"
          }
        }
      }
    },
    "categories_V2DataLinks": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_V2Links"
          }
        }
      }
    },
    "categories_V2Links": {
      "type": "object",
      "properties": {
        "self": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_V2Link"
          }
        }
      }
    },
    "categories_V2Link": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string"
        },
        "content_type": {
          "type": "string"
        },
        "href": {
          "type": "string"
        },
        "method": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "categories_V2EmptyResults": {
      "type": "object"
    },
    "categories_CategoriesInfo": {
      "type": "object",
      "properties": {
        "data": {
          "description": "Category information",
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_CategoriesInfoData"
          }
        },
        "definitions": {
          "$ref": "#/definitions/categories_Definitions"
        },
        "definitions_order": {
          "description": "Default order of the fields defined in data",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "definitions_map": {
          "$ref": "#/definitions/categories_DefinitionsMap"
        }
      }
    },
    "categories_CategoriesInfoData": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Category ID",
          "type": "integer"
        },
        "name": {
          "description": "Display name",
          "type": "string"
        }
      }
    },
    "categories_CategoryInfo": {
      "type": "object",
      "properties": {
        "data": {
          "description": "Category information",
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_CategoryInfoData"
          }
        },
        "definitions": {
          "$ref": "#/definitions/categories_Definitions"
        },
        "definitions_order": {
          "description": "Default order of the fields defined in data",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "definitions_map": {
          "$ref": "#/definitions/categories_DefinitionsMap"
        }
      }
    },
    "categories_CategoryInfoData": {
      "type": "object",
      "properties": {
        "{attribute_key}": {
          "description": "Attribute value",
          "type": "string"
        }
      }
    },
    "categories_ActionsCategoriesInfo": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/categories_ActionData"
        },
        "definitions": {
          "$ref": "#/definitions/categories_Definitions"
        },
        "definitions_map": {
          "$ref": "#/definitions/categories_DefinitionsMap"
        },
        "definitions_order": {
          "description": "The order items should be displayed in. Note: An item in definitions_order may be a key in definitions_map. If so, that indicates there are related sub-items and they are considered higher in order than the next item in definitions_order",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "categories_AddCategoryResponse": {
      "type": "object"
    },
    "categories_UpdateCategoryResponse": {
      "type": "object"
    },
    "categories_ActionData": {
      "type": "object"
    },
    "categories_Definitions": {
      "type": "object"
    },
    "categories_DefinitionsMap": {
      "type": "object"
    },
    "doctemplates_DocumentTemplateInstanceInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "The valid document template InstanceID",
          "format": "integer"
        },
        "cacheId": {
          "type": "integer",
          "description": "The valid cacheID generated and used while instance creation",
          "format": "integer"
        }
      },
      "required": [
        "id",
        "cacheId"
      ]
    },
    "documentproperties_InsertablePropertiesRow": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The localized name of the insertable property.",
          "type": "string"
        },
        "property": {
          "description": "The name of the file property to write the value to.",
          "type": "string"
        },
        "value": {
          "description": "The value of the content server attribute the insertable property represents.",
          "type": "string"
        },
        "value_formatted": {
          "description": "The value with possible formatting or conversion applied.",
          "type": "string"
        }
      }
    },
    "draftprocesses_DraftProcess_V2EmptyResponse": {
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_V2DataLinks"
          }
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/draftprocesses_DraftProcess"
          }
        }
      }
    },
    "draftprocesses_DraftProcess_PutV2EmptyResponse": {
      "type": "object",
      "properties": {
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/categories_V2DataLinks"
          }
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/draftprocesses_DraftProcess_Put"
          }
        }
      }
    },
    "draftprocesses_DraftProcess": {
      "type": "object",
      "properties": {
        "draftprocess_id": {
          "type": "integer",
          "description": "The id of the created draft process"
        },
        "workflow_type": {
          "type": "string",
          "description": "String composition of  workData.type_workData.subtype , example  1_1"
        }
      },
      "required": [
        "draftprocess_id"
      ]
    },
    "draftprocesses_DraftProcess_Put": {
      "type": "object",
      "properties": {
        "custom_message": {
          "type": "string",
          "description": "custom_message,If exist"
        },
        "process_id": {
          "type": "integer",
          "description": "process_id"
        }
      },
      "required": [
        "custom_message",
        "process_id"
      ]
    },
    "draftprocesses_DraftProcess_Authentication": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "Authentication Required"
        }
      },
      "required": [
        "error"
      ]
    },
    "draftprocesses_DraftProcess_NodeNotFound": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "<ul><li>Could not Loadmap.</li><li>Workflow Map has no versions.</li><li>Error getting node from ID</li> <li>Could not retrieve specified version from map.</li></ul>"
        }
      },
      "required": [
        "error"
      ]
    },
    "export_Export": {
      "type": "object",
      "properties": {
        "includeDefaults": {
          "description": "Indicates report should include default values",
          "type": "boolean"
        },
        "fileFormat": {
          "description": "Extension of report format",
          "type": "string"
        }
      }
    },
    "facets_FacetResponse": {
      "type": "object",
      "properties": {
        "links": {
          "description": "Links",
          "type": "array",
          "items": {
            "$ref": "#/definitions/facets_DataLinks"
          }
        },
        "results": {
          "description": "results",
          "type": "array",
          "items": {
            "$ref": "#/definitions/facets_Results"
          }
        }
      }
    },
    "facets_DataLinks": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "description": "",
          "items": {
            "$ref": "#/definitions/facets_Links"
          }
        }
      }
    },
    "facets_Links": {
      "type": "object",
      "properties": {
        "self": {
          "type": "array",
          "description": "Self link",
          "items": {
            "$ref": "#/definitions/facets_Link"
          }
        }
      }
    },
    "facets_Link": {
      "type": "object",
      "properties": {
        "body": {
          "type": "string",
          "description": "Body"
        },
        "content_type": {
          "type": "string",
          "description": "Content Type"
        },
        "href": {
          "type": "string",
          "description": "URL"
        },
        "method": {
          "type": "string",
          "description": "HTTP Method"
        },
        "name": {
          "type": "string",
          "description": "Name"
        }
      }
    },
    "facets_Results": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "description": "",
          "items": {
            "$ref": "#/definitions/facets_Data"
          }
        }
      }
    },
    "facets_Data": {
      "type": "object",
      "properties": {
        "facets": {
          "type": "array",
          "description": "",
          "items": {
            "$ref": "#/definitions/facets_Facet"
          }
        },
        "values": {
          "type": "array",
          "description": "",
          "items": {
            "$ref": "#/definitions/facets_Values"
          }
        }
      }
    },
    "facets_Values": {
      "type": "object",
      "properties": {
        "available": {
          "type": "array",
          "description": "",
          "items": {
            "$ref": "#/definitions/facets_Value"
          }
        },
        "selected": {
          "type": "array",
          "description": "",
          "items": {
            "$ref": "#/definitions/facets_Value"
          }
        }
      }
    },
    "facets_Facet": {
      "type": "object",
      "properties": {
        "display_count": {
          "type": "boolean",
          "description": "TRUE if count information is available and should be displayed; FALSE otherwise"
        },
        "id": {
          "type": "integer",
          "description": "The ID of the Facet"
        },
        "name": {
          "type": "string",
          "description": "The name of the Facet"
        },
        "total_displayable": {
          "type": "integer",
          "description": "The number of available options to display"
        }
      }
    },
    "facets_Value": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "description": "The number of matched objects for the given option"
        },
        "name": {
          "type": "string",
          "description": "The name of the option"
        },
        "percentage": {
          "type": "integer",
          "description": "The percentage of objects which contain this option"
        },
        "value": {
          "type": "string",
          "description": "The internal value of this option"
        }
      }
    },
    "forms_CategoriesCreateFormInfo": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/forms_CategoriesData"
        },
        "options": {
          "$ref": "#/definitions/forms_CategoriesCreateOptions"
        },
        "schema": {
          "$ref": "#/definitions/forms_CategoriesCreateSchema"
        }
      }
    },
    "forms_CategoriesUpdateFormInfo": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "description": "Category attributes and their values for the category applied to the node"
        },
        "options": {
          "$ref": "#/definitions/forms_CategoriesUpdateOptions"
        },
        "schema": {
          "$ref": "#/definitions/forms_CategoriesUpdateSchema"
        }
      }
    },
    "forms_CopyFormInfo": {
      "type": "object",
      "properties": {
        "form": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/forms_CopyInfo"
          },
          "description": "The array containing the information on the object being copied. The first element contains node data, the elements following contain optional data"
        }
      }
    },
    "forms_CreateFormInfo": {
      "type": "object",
      "properties": {
        "form": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/forms_CreateInfo"
          },
          "description": "The array containing the information on the object being created. The first element contains node data, the elements following contain optional data"
        }
      }
    },
    "forms_GetFormFileNodeInfo": {
      "type": "object",
      "properties": {
        "forms": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/forms_FileNodeInfo"
          },
          "description": "The array containing the information on the object being filed. The first element contains node data, the elements following contain optional data"
        }
      }
    },
    "forms_RunPropertiesFormInfo": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/forms_RunPropertiesFormData"
        },
        "forms": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/forms_RunFormInfo"
          },
          "description": "The array containing the information on WebReport parameters to be displayed. The forms are displayed when a WebReport is run."
        }
      }
    },
    "forms_RunPropertiesFormData": {
      "type": "object",
      "properties": {
        "destination_data": {
          "description": "Destination data",
          "type": "array",
          "items": {
            "$ref": "#/definitions/forms_DestinationData"
          }
        },
        "parameters_data": {
          "description": "Parameters data",
          "type": "array",
          "items": {
            "$ref": "#/definitions/forms_ParametersData"
          }
        }
      }
    },
    "forms_UpdateFormInfo": {
      "type": "object",
      "properties": {
        "forms": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/forms_UpdateInfo"
          },
          "description": "The array containing the forms for updating the node. The first element contains node data, the elements following contain additional data"
        }
      }
    },
    "forms_DestinationData": {
      "type": "object",
      "properties": {
        "destination_specific": {
          "description": "Destination-specific data",
          "type": "array",
          "items": {
            "$ref": "#/definitions/forms_DestinationSpecific"
          }
        },
        "export_if_no_data": {
          "description": "Whether the WebReport is set to export if there is no data",
          "type": "boolean"
        },
        "export_mime_type": {
          "description": "The MIMEType that the WebReport output is written in",
          "type": "string"
        },
        "http_method": {
          "description": "The http method that should be used to run the WebReport based on the destination type",
          "type": "string"
        },
        "output_destination": {
          "description": "The WebReport destination type",
          "type": "string"
        },
        "run_in_background": {
          "description": "Whether the WebReport is set to run in the background",
          "type": "boolean"
        },
        "schedule_data": {
          "description": "Schedule data",
          "type": "array",
          "items": {
            "$ref": "#/definitions/forms_ScheduleData"
          }
        },
        "show_status_screen": {
          "description": "Whether the WebReport is set to display a status page after it is run",
          "type": "boolean"
        },
        "use_conversion_engine": {
          "description": "Whether the conversion engine is set to be used",
          "type": "boolean"
        },
        "xml_job_ticket_id": {
          "description": "ID of the XML job ticket",
          "type": "string"
        }
      }
    },
    "forms_DestinationSpecific": {
      "type": "object",
      "properties": {
        "category_names": {
          "description": "(Content Server Node destination only): The names of the categories that will be applied to the output node",
          "type": "string"
        },
        "create_in_id (*)": {
          "description": "(Content Server Node destination only): The node ID of the container that the WebReport output will be created in",
          "type": "string"
        },
        "duplicate_name_action": {
          "description": "(Content Server Node destination only): The action that the WebReport will take if a file of the same name as the WebReport output file is found in the destination container",
          "type": "string"
        },
        "export_type": {
          "description": "(Content Server Node destination only): Whether the WebReport is set to output to a new node or add a version to an existing node",
          "type": "string"
        },
        "node_description (*)": {
          "description": "(Content Server Node destination only): The description of the output node",
          "type": "string"
        },
        "node_name (*)": {
          "description": "(Content Server Node destination only): The name of the output node",
          "type": "string"
        },
        "node_type": {
          "description": "(Content Server Node destination only): Whether the node type of the output is set to Document or Custom View",
          "type": "string"
        },
        "add_version_to_id": {
          "description": "(Content Server Version destination only): The node to add a version to",
          "type": "string"
        },
        "append_data": {
          "description": "(Content Server Version destination only): Setting used to determine whether the WebReport output should be appended into the text of an existing document",
          "type": "string"
        },
        "end_tag": {
          "description": "(Content Server Version destination only): The end tag if the WebReport output is set to be appended into the text of an existing document between tags",
          "type": "string"
        },
        "overwrite_tags": {
          "description": "(Content Server Version destination only): Whether the output should overwrite tags in the destination text if the WebReport output is set to be appended into the text of an existing document between tags",
          "type": "string"
        },
        "start_tag": {
          "description": "(Content Server Version destination only): The start tag if the WebReport output is set to be appended into the text of an existing document between tags",
          "type": "string"
        },
        "version_description (*)": {
          "description": "(Content Server Version destination only): The description of the output version",
          "type": "string"
        },
        "version_handling": {
          "description": "(Content Server Version destination only): Whether the output should be added as a major or minor version",
          "type": "string"
        },
        "version_name (*)": {
          "description": "(Content Server Version destination only): The name of the output version",
          "type": "string"
        },
        "download_file_name (*)": {
          "description": "(Desktop destination only): The name of the file that the WebReport output is written to",
          "type": "string"
        },
        "attachment_name (*)": {
          "description": "(E-mail destination only): The name of the file attached to the e-mail",
          "type": "string"
        },
        "attach_results_to_email": {
          "description": "(E-mail destination only): Whether the WebReport output should be attached to the e-mail",
          "type": "boolean"
        },
        "email_address (*)": {
          "description": "(E-mail destination only): The e-mail address that the e-mail is being sent to",
          "type": "string"
        },
        "email_address_user_id (*)": {
          "description": "(E-mail destination only): The User ID of the Content Server user that the e-mail is being sent to",
          "type": "string"
        },
        "email_body_text (*)": {
          "description": "(E-mail destination only): The body text of the e-mail",
          "type": "string"
        },
        "email_mailing_list (*)": {
          "description": "(E-mail destination only): The node ID of the Content Server node containing the mailing list that the e-mail is being sent to",
          "type": "string"
        },
        "email_subject (*)": {
          "description": "(E-mail destination only): The Subject of the e-mail",
          "type": "string"
        },
        "append_form": {
          "description": "(Form destination only): Setting used to determine how the WebReport output affects existing form data",
          "type": "string"
        },
        "form_id (*)": {
          "description": "(Form destination only): The node ID of the Form being used as the destination of the WebReport",
          "type": "string"
        },
        "ftp_anonymous": {
          "description": "(FTP destination only): Whether the WebReport is set to login to the FTP Server anonymously",
          "type": "boolean"
        },
        "ftp_copy_options": {
          "description": "(FTP destination only): The action that the WebReport will take if a file of the same name as the WebReport output file is found on the destination FTP server",
          "type": "string"
        },
        "ftp_file_path (*)": {
          "description": "(FTP destination only): The relative path to the destination file from the FTP root folder",
          "type": "string"
        },
        "ftp_port": {
          "description": "(FTP destination only): The port on the FTP server to connect to",
          "type": "integer"
        },
        "ftp_server": {
          "description": "(FTP destination only): The IP Address or machine name of the FTP server",
          "type": "string"
        },
        "ftp_user_name": {
          "description": "(FTP destination only): The user name used for authentication on the FTP server",
          "type": "string"
        },
        "ftp_user_password": {
          "description": "(FTP destination only): The password used for authentication on the FTP server",
          "type": "string"
        },
        "server_file_path (*)": {
          "description": "(Server destination only): The file path that the output will be written to on the destination server",
          "type": "string"
        },
        "workflow_attach_output": {
          "description": "(Workflow destination only): Whether the WebReport output is attached to the initiated workflow",
          "type": "boolean"
        },
        "workflow_attachment_description (*)": {
          "description": "(Workflow destination only): The node description of the WebReport output to be attached to the initiated workflow",
          "type": "boolean"
        },
        "workflow_attachment_name (*)": {
          "description": "(Workflow destination only): The node name of the WebReport output to be attached to the initiated workflow",
          "type": "boolean"
        },
        "workflow_category_names": {
          "description": "(Workflow destination only): The names of the categories that will be applied to the output node to be attached to the initiated workflow",
          "type": "boolean"
        },
        "workflow_description (*)": {
          "description": "(Workflow destination only): The description of the initiated workflow",
          "type": "string"
        },
        "workflow_due": {
          "description": "(Workflow destination only): Setting used to determine whether the workflow will become due for completion",
          "type": "string"
        },
        "workflow_due_in": {
          "description": "(Workflow destination only): Number of days from initiation that the workflow will become due for completion",
          "type": "string"
        },
        "workflow_due_on": {
          "description": "(Workflow destination only): Date that the workflow will become due for completion",
          "type": "string"
        },
        "workflow_map_id (*)": {
          "description": "(Workflow destination only): The node ID of the Workflow map being used as the destination of the WebReport",
          "type": "string"
        },
        "workflow_title (*)": {
          "description": "(Workflow destination only): The title of the initiated workflow",
          "type": "string"
        }
      }
    },
    "forms_ScheduleData": {
      "type": "object",
      "properties": {
        "five_minute_increments": {
          "description": "Whether the '5-minute-increments' setting is set",
          "type": "boolean"
        },
        "next_run": {
          "description": "The date that the WebReport is scheduled to be next run",
          "type": "string",
          "format": "date"
        },
        "repeat_day": {
          "description": "The repeat interval number of days that the WebReport is scheduled for",
          "type": "integer"
        },
        "repeat_hour": {
          "description": "The repeat interval number of hours that the WebReport is scheduled for",
          "type": "integer"
        },
        "repeat_minute": {
          "description": "The repeat interval number of minutes that the WebReport is scheduled for",
          "type": "integer"
        },
        "repeat_week": {
          "description": "The repeat interval number of weeks that the WebReport is scheduled for",
          "type": "integer"
        },
        "run_condition": {
          "description": "'intervals' if the schedule is set to run using repeat intervals or 'specific' if the schedule is set to run on specific days of the month",
          "type": "string"
        },
        "run_on_dates": {
          "description": "List containing the dates of the month that the report is scheduled to run on",
          "type": "string"
        },
        "run_on_weeks_month": {
          "description": "List containing the weeks of the month that the report is scheduled to run on",
          "type": "string"
        },
        "run_on_days_month": {
          "description": "List containing the days of the month that the report is scheduled to run on",
          "type": "string"
        },
        "run_on_days_week": {
          "description": "List containing the days of the week that the report is scheduled to run on",
          "type": "string"
        },
        "run_times": {
          "description": "The specific number of times that the WebReport will run, or -1 for forever",
          "type": "integer"
        },
        "schedule_enabled": {
          "description": "Whether the schedule is enabled",
          "type": "boolean"
        },
        "user_id": {
          "description": "The User ID of the user that created the schedule",
          "type": "integer"
        }
      }
    },
    "forms_ParametersData": {
      "type": "object",
      "properties": {
        "prompt_file_id": {
          "description": "ID of the prompt file",
          "type": "string"
        },
        "show_descriptions": {
          "description": "Whether the parameter descriptions are set to be displayed",
          "type": "boolean"
        }
      }
    },
    "forms_RunFormInfo": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "description": "Dynamic data for the WebReport parameters to be displayed"
        },
        "options": {
          "type": "object",
          "description": "Basic data about the alpaca form"
        },
        "schema": {
          "type": "object",
          "description": "Properties of the parameters being used for displaying WebReport parameters"
        }
      }
    },
    "forms_GeneralPropertiesFormInfo": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/forms_GeneralPropertiesInfo"
        },
        "options": {
          "$ref": "#/definitions/forms_PropertiesOptions"
        },
        "schema": {
          "$ref": "#/definitions/forms_PropertiesSchema"
        }
      }
    },
    "forms_VersionGeneralPropertiesFormInfo": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/forms_VersionGeneralPropertiesInfo"
        },
        "options": {
          "$ref": "#/definitions/forms_PropertiesOptions"
        },
        "schema": {
          "$ref": "#/definitions/forms_PropertiesSchema"
        }
      }
    },
    "forms_VersionSpecificPropertiesFormInfo": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/forms_VersionSpecificPropertiesInfo"
        },
        "options": {
          "$ref": "#/definitions/forms_PropertiesOptions"
        },
        "schema": {
          "$ref": "#/definitions/forms_PropertiesSchema"
        }
      }
    },
    "forms_SpecificPropertiesFormInfo": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "description": "Dynamic data about the node"
        },
        "options": {
          "$ref": "#/definitions/forms_PropertiesOptions"
        },
        "schema": {
          "$ref": "#/definitions/forms_PropertiesSchema"
        }
      }
    },
    "forms_MoveFormInfo": {
      "type": "object",
      "properties": {
        "form": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/forms_MoveInfo"
          },
[...]
